<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cliffracertech.soundaura">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"
        tools:targetApi="o"
        android:requiredFeature="false"/>

    <application
        android:name="SoundAuraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoundAura">

        <!-- The Accompanist window insets functionality seems to not
             provide the correct values when the phone is in landscape
             orientation (the navigation bar still overlaps the content
             in landscape even when they are provided the correct window
             insets values. Until this is fixed, the orientation is
             going to be locked to portrait for the time being. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SoundAura.NoActionBar"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
        </activity>

        <service android:name=".PlayerService"
            android:description="@string/app_player_service_description"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />

        <service
            android:name=".TogglePlaybackTileService"
            android:label="@string/app_name"
            android:icon="@drawable/tile_and_notification_icon"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
    </application>
</manifest>